.app {
    background-size: cover;
    background-position: center;
    text-align: center;
}

.app.bg1 {
    background-image: url(/bg1.jpg);
}

.app.bg2 {
    background-image: url(/bg2.jpg);
}

.app.bg3 {
    background-image: url(/bg3.jpg);
}

.app.bg4 {
    background-image: url(/bg4.jpg);
}